flags:
  log.parameters: true
  use:
    ssl: true
    http2: true
    jdbc: true

server.ssl:
  key-store: classpath:server.p12
  key-store-password: test123
  key-password: test123
  keystoreType: PKCS12
  enabled: ${flags.use.ssl}

server:
  http2:
    enabled: ${flags.use.http2}

endpoints:
  enabled: true
  trace:
    enabled: false
  health:
    enabled: true
  info:
    enabled: true
  metrics:
    enabled: true

  cors.allowed-origins: http://localhost
  cors.allowed-methods: GET,POST

server.error.whitelabel.enabled: false

datasource.jdbc:
  enabled: ${flags.use.jdbc}
  ref:
    - name: default-jdbc-client
      driver: h2
      username: sa
      password:
      protocol: mem
      database: "testdb"
      enabled: true
      load: "h2"

    - name: h2-1
      driver: h2
      username: sa
      password:
      protocol: mem
      database: "testdb2"
      enabled: true

    - name: postgresql-1
      driver: postgresql
      username: todoservice
      password: password
      host: localhost
      port: 5432
      enabled: false
