<?xml version="1.0" encoding="utf-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{1} - %msg%n" />
        </Console>
        <Console name="json" target="SYSTEM_OUT">
            <JsonLayout complete="true" compact="false">
            </JsonLayout>
        </Console>
        <RollingFile name="rolling-file" fileName="logs/app.log" filePattern="logs/app-%d{MM-dd-yyyy}.log.gz"
                     ignoreExceptions="false">
            <JsonLayout complete="true" compact="true">
            </JsonLayout>
<!--            <PatternLayout>-->
<!--                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>-->
<!--            </PatternLayout>-->
            <SizeBasedTriggeringPolicy size="10MB" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="rolling-file" />
        </Root>
    </Loggers>
</Configuration>
